- chooser ||= @page
- locals ||= {}
- if chooser
  - disabled ||= false

  %ul
    - Group.arrange.each do |group, children|
      - @current_node = group
      - locals.reverse_merge!(:level => 0, :simple => false).merge!(:group => group, :disabled => disabled, :chooser => chooser)
      = render :partial => 'admin/groups/group_node_for_popup_chooser', :locals =>  locals
